{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block container %}

    <h1>Se connecter</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" required>
        <button type="submit">Se connecter</button>
    </form>


{% endblock %}
