{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block container %}

    <div class="example-wrapper">
    <h1>Se connecter</h1>

<form action="{{ path('login')}}" method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" placeholder="Email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="_password" id="inputPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
</form>


</div>
{% endblock %}
