{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}

{% block container %}
        <h1>Welcome to the About Page</h1>

        <p>Our company is a leading provider of web development services in the area. We have a team of highly skilled developers who can create a wide range of websites, from simple static sites to complex web applications.</p>

        <p>Our services include:</p>

        <ul>
            <li>Web design</li>
            <li>Web development</li>
            <li>Mobile app development</li>
            <li>SEO</li>
            <li>And much more!</li>
        </ul>

        <p>If you are interested in working with us, please contact us using the form below.</p>

        <form action="{{ path('app_contact') }}" method="post">
            <div class="form-group
            ">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}

